<%- include("partials/header") %>

    <main>

        <article class="quote---list--container">

            <h3>Quotes List</h3>

            <% quotes.forEach(quote => { %>

            <div class="quote---list--item">

                <h4><%= quote.quote %></h4>

                <a href="/browse/<%= quote.id %>" class="quote---view--more"> View More
                    <%= quote.text %>
                </a>

                <!-- <?php if ($author !== '') : ?>
                <p><?php echo $author; ?></p>
                <?php endif; ?> -->

            </div>

            <% }) %>

        </article>
        
    </main>

<%- include("partials/footer") %>