<%- include("partials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Quotes List | An Express.js Project by JGDM</title>

</head>
<body>

    <header>

        <div class="website---titles">

            <h1>Daily Quote App</h1>
            <h2><em>An Express.js Project <span class="app---version"><a href="https://github.com/jg-digital-media/express_project" target="_blank">v3</a></span> </em></h2>

        </div>

        <nav>

            <a href="/">Home</a>
            <a href="/browse">Browse</a>
            <a href="/about">About</a>

        </nav>

    </header>

    <main>

        <article class="quote---list--container">

            <h3>Quotes List</h3>

            <% quotes.forEach(quote => { %>

            <div class="quote---list--item">

                <h4><%= quote.quote %></h4>

                <a href="/browse/<%= quote.id %>" class="quote---view--more"> View More
                    <%= quote.text %>
                </a>

                <!-- <?php if ($author !== '') : ?>
                <p><?php echo $author; ?></p>
                <?php endif; ?> -->

            </div>

            <% }) %>

        </article>
        
    </main>

<%- include("partials/footer") %>